[submodule "submodules/quickstart-linux-bastion"]
	path = submodules/quickstart-linux-bastion
	url = https://github.com/aws-quickstart/quickstart-linux-bastion.git
	branch = main
[submodule "docs/boilerplate"]
	path = docs/boilerplate
	url = https://github.com/aws-ia/aws-ia-documentation-base-common.git
